In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('merged_recipes_yelp.csv')

In [5]:
df.head(10)

,name_x,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,arriba baked winter squash mexican style,0,55,47892,9/16/2005,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,...,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,a bit different breakfast pizza,1,30,26278,6/17/2002,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,...,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,all in the kitchen chili,2,130,196586,2/25/2005,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,...,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,alouette potatoes,3,45,68585,4/14/2003,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...",...,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,amish tomato ketchup for canning,4,190,41706,10/25/2002,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,...,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
5,apple a day milk shake,5,0,1533,12/6/1999,"['15-minutes-or-less', 'time-to-make', 'course...","[160.2, 10.0, 55.0, 3.0, 9.0, 20.0, 7.0]",4,"['combine ingredients in blender', 'cover and ...",NaN,...,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
6,aww marinated olives,6,15,21730,4/14/2002,"['15-minutes-or-less', 'time-to-make', 'course...","[380.7, 53.0, 7.0, 24.0, 6.0, 24.0, 6.0]",4,['toast the fennel seeds and lightly crush the...,my italian mil was thoroughly impressed by my ...,...,MO,63144,38.627695,-90.340465,2.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sporting Goods, Fashion, Shoe Stores, Shopping...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ..."
7,backyard style barbecued ribs,7,120,10404,7/30/2003,"['weeknight', 'time-to-make', 'course', 'main-...","[1109.5, 83.0, 378.0, 275.0, 96.0, 86.0, 36.0]",10,['in a medium saucepan combine all the ingredi...,this recipe is posted by request and was origi...,...,FL,33707,27.766590,-82.732983,3.5,5,1,NaN,"Synagogues, Religious Organizations","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."
8,bananas 4 ice cream pie,8,180,102353,9/10/2003,"['weeknight', 'time-to-make', 'course', 'main-...","[4270.8, 254.0, 1306.0, 111.0, 127.0, 431.0, 2...",8,"['crumble cookies into a 9-inch pie plate , or...",NaN,...,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","Pubs, Restaurants, Italian, Bars, American (Tr...",NaN
9,beat this banana bread,9,70,15892,11/4/2003,"['weeknight', 'time-to-make', 'course', 'main-...","[2669.3, 160.0, 976.0, 107.0, 62.0, 310.0, 138.0]",12,"['preheat oven to 350 degrees', 'butter two 9x...",from ann hodgman's,...,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."

In [6]:
df.columns

Index(['name_x', 'id', 'minutes', 'contributor_id', 'submitted', 'tags',
       'nutrition', 'n_steps', 'steps', 'description', 'ingredients',
       'n_ingredients', 'name_y', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 25 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name_x          150345 non-null  object
 1   id              150346 non-null  int64
 2   minutes         150346 non-null  int64
 3   contributor_id  150346 non-null  int64
 4   submitted       150346 non-null  object
 5   tags            150346 non-null  object
 6   nutrition       150346 non-null  object
 7   n_steps         150346 non-null  int64
 8   steps           150346 non-null  object
 9   description     146998 non-null  object
 10  ingredients     150346 non-null  object
 11  n_ingredients   150346 non-null  int64
 12  name_y          150346 non-null  object
 13  address         145219 non-null  object
 14  city            150346 non-null  object
 15  state           150346 non-null  object
 16  postal_code     150273 non-null  object
 17  latitude        150346 non-null  float64
 18  longitude       150346 non-null  float64
 19  stars           150346 non-null  float64
 20  review_count    150346 non-null  int64
 21  is_open         150346 non-null  int64
 22  attributes      136602 non-null  object
 23  categories      150243 non-null  object
 24  hours           127123 non-null  object
dtypes: float64(3), int64(7), object(15)
memory usage: 28.7+ MB

In [8]:
df.name_y

0         Abby Rappoport, LAC, CMQ
1                    The UPS Store
2                           Target
3               St Honore Pastries
4         Perkiomen Valley Brewery
                    ...
150341                Binh's Nails
150342        Wild Birds Unlimited
150343           Claire's Boutique
150344    Cyclery & Fitness Center
150345                     Sic Ink
Name: name_y, Length: 150346, dtype: object

In [9]:

df.submitted

0          9/16/2005
1          6/17/2002
2          2/25/2005
3          4/14/2003
4         10/25/2002
             ...
150341     7/22/2004
150342    11/20/2007
150343     5/29/2006
150344     3/27/2004
150345     8/26/2002
Name: submitted, Length: 150346, dtype: object

In [10]:
df.rename(columns={'name_x':'recipe_name','name_y':'restaurant'},inplace=True)

In [11]:
df.drop(columns=['contributor_id','submitted','tags','description'],inplace=True)

In [12]:
df.rename(columns={'stars':'rating'},inplace=True)

In [13]:
df.isnull().sum()

recipe_name          1
id                   0
minutes              0
nutrition            0
n_steps              0
steps                0
ingredients          0
n_ingredients        0
restaurant           0
address           5127
city                 0
state                0
postal_code         73
latitude             0
longitude            0
rating               0
review_count         0
is_open              0
attributes       13744
categories         103
hours            23223
dtype: int64

In [14]:
df.drop(columns=['hours','attributes','categories','address','longitude','latitude'],inplace=True)

In [15]:
df.duplicated().sum()

0

In [17]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_seq_items', None)
np.set_printoptions(threshold=np.inf)

In [18]:
df.isnull().sum()

recipe_name       1
id                0
minutes           0
nutrition         0
n_steps           0
steps             0
ingredients       0
n_ingredients     0
restaurant        0
city              0
state             0
postal_code      73
rating            0
review_count      0
is_open           0
dtype: int64

In [19]:
df['recipe_name'].fillna('gedo',inplace=True)

In [20]:
df.drop(columns=['postal_code'],inplace=True)

In [21]:
df[['calories','total fat (PDV)','sugar (PDV)','sodium (PDV)','protein (PDV)','saturated fat (PDV)','carbohydrates (PDV)']] = df.nutrition.str.split(",",expand=True)

In [ ]:
df

In [ ]:
df['calories'] =  df['calories'].apply(lambda x: x.replace('[','')) 
df['carbohydrates (PDV)'] =  df['carbohydrates (PDV)'].apply(lambda x: x.replace(']','')) 
df